[submodule "tools/googletest"]
	path = tools/googletest
	url = https://github.com/google/googletest
[submodule "tools/protobuf"]
	path = tools/protobuf
	url = https://github.com/google/protobuf.git
[submodule "tools/asio"]
	path = tools/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "tools/spdlog"]
	path = tools/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tools/pbjson"]
	path = tools/pbjson
	url = https://github.com/RavenX8/pbjson.git
[submodule "tools/lua"]
	path = tools/lua
	url = https://github.com/RavenX8/lua.git
[submodule "tools/sol2"]
	path = tools/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "tools/mysqlpp"]
	path = tools/mysqlpp
	url = https://github.com/RavenX8/mysqlpp.git
[submodule "tools/cxxopts"]
	path = tools/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "tools/entityx"]
	path = tools/entityx
	url = https://github.com/alecthomas/entityx.git
[submodule "tools/date"]
	path = tools/date
	url = https://github.com/HowardHinnant/date
[submodule "tools/sqlpp11"]
	path = tools/sqlpp11
	url = https://github.com/L3nn0x/sqlpp11
